@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Inter:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
/* for the Notes Project */
.NotesContainer
{
  background-color: #E3F4F4;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  list-style: none;
}
.Text-Box
{
  background-color: #D2E9E9;
  padding: 20px;
  box-shadow: 3px 3px 1px #D8D8D8;
  border-radius: 10px;
  border: 2px solid #8294C4;
  text-align: center;
  margin-left: 5px;
}
.singleText
{
  font-family: Inter;
  font-weight: 500;
  color: black;
}
li{
  height: fit-content;
}
footer
{
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* for the react site info project */
 .nav{
display: flex;
justify-content: center;
align-items: center;
background-color: #21222A;
padding: 30px 25px;
height: 90px;
} 
.image>img
{
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
}

/* .nav-list
{
  list-style: none;
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  gap: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  
}
.nav-list >li{margin-right: 10px;} */

