@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Inter:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}
.profile-card
{
    padding: 10px;
    text-align: center;
    border: 10px solid #D2E9E9;
    background-color: #E3F4F4;
    box-shadow: 4px 4px 2px #8294C4;
}
.title
{
    font-size: 1.8rem;
    margin-block: 5px;
    letter-spacing: 1px;
   font-family:'IBM Plex Serif', serif;
}
.email
{
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight:700;
}